<div class="container-fluid px-5 mainSection">
    <div class="row">
        <h2 class="col-md-4 col-lg-2"> All Favorite Series <br>all times</h2>
        <div class="col-lg-2 col-md-4" *ngFor='let series of series' >
            <div class="singleItem col-sm-12">
                <img class='img-fluid' src='https://image.tmdb.org/t/p/w500/{{series.poster_path}}' />
            <h5>
                {{series.name? series.name:series.title}}
            </h5>
            <span>popularity: {{series.popularity}}</span>
            <div class="item-label">{{series.vote_average}}</div>
            </div>
        </div>
    </div>
</div>