.navbar{
    padding-top:.3rem;
    padding-bottom:.3rem;
    .navbar-brand{
        //font-size: 2.5rem;
        line-height: .8rem;
        //font-weight: bold;
        font:bold 2rem "segoe ui";
        margin-right: 6rem;
    }
    
    ul{
        margin-top: 8px !important;
        li{
            font-size: 1.1rem;
            margin-right:1rem;
            font-weight: bold;
        }
    }
}

