/* You can add global styles to this file, and also import other style files */
body{
    font-family: "segoe ui light";
    background-color: #f5f5f5;
    background-image: url('assets/polygon-pattern.png');
}
.full-height{

    min-height: 100vh;
    position: relative;
}
.row{
    a[ng-reflect-router-link]{
        color:#555 !important;
        h5{
            font-weight: bold;
        }
    }
}
.mainSection{
    margin:4rem auto 1rem;
    padding:0 10rem;
    padding-bottom:1.5rem;
    height:auto !important;
  .mainTitle{
        h2{
            border-top: 1px solid #777;
            padding-top: 1rem;
    
        }
        p{
            border-bottom: 1px solid #777;
            padding-bottom: 1rem;
    
        }
    }
    .singleItem{
        margin-bottom:1.5rem;
        position: relative;
        
        h5{
            margin-top:.25rem;
            margin-bottom:.25rem;
        }
        .item-label{
            position: absolute;
            top:0px;
            right:5px;
            background-color:#ee4f5e;
            color:#eee;
            padding:5px;
            width:2rem;
            text-align: center;
            box-shadow: 0px 2px 2px 0px #555;
        }
        
    }
}


input.form-control:focus,select:focus,textarea:focus{
    outline: none !important;
    box-shadow: none;
}

