a{
    cursor: pointer;
    &:hover{
        text-decoration: none;
    }
}

.bannerCont{
    position: relative;
    background: url(../../assets/movie-bundle.jpg) no-repeat fixed;
    min-height: 260px;
    padding:25px;
    figcaption{
        // position: absolute;
        // margin:Auto;
         Color:#eee;
        width:26%;
        margin-top:20px;
        margin-left:37%;
        text-align: center;
        // text-transform: uppercase;
        h1{
            font-size: 84px;
            color:#80a3ff;
            //text-shadow: 2px -2px 1px #d1deff;
            mix-blend-mode: difference;
            font-weight: bold;
        }
        p{
            font-size:28px;
            line-height: 36px;
            text-transform: capitalize;
        }
    }
}